<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://www.dropbox.com/s/00oqh7ta2gycibs/Resume.pdf?dl=0">CV</a></li>
	        		<li><a href="/blog">Log</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mittal.nam30@gmail.com">email</a></li>
	        		<li><a href="https://github.com/brawlzapper">github.com/Brawlzapper</a></li>
				</ul>
			</footer>
		</body>
	</html>
